.header{
    background: #169;
    color: #fff;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.contain{
    background: #fff;
    color: #000;
    padding-right: 30px;
    padding-left: 30px;
    float:left;
    width:80%;
}

.sidebox{
    float:right;
    margin-top:30px;
    width:19%;
}

.footer{
    clear:both;
    background:#345;
    height:50px;
}

.postlist{
}

.post{
    padding-top:30px;
}

.post h3{
    border-bottom:2px solid #169;
}

#inputText{
    width:100%;
}

#outputText{
    min-height:52px;
    width:100%;
    border:2px solid #169;
}

.formcontrol input{
    width: 60px;
}

