$def with (issues_json)

<script type="text/ng-template" id="commentTree">
<div ng-init="getComments(comment)">
<div>{{comment.title}}</div>
<div>{{comment.detail}}</div>
<input type="submit" value="Show Comments" ng-click="getComments(comment)"/>
<div ng-repeat="comment in comment.comments" ng-include="'commentTree'" ></div>
</div>
</script>

<div ng-controller="postController" ng-init="init($issues_json)">
<h2>毛毛</h2>

<div><input type="submit" value="上一页" ng-show="page != 1" ng-click="lastPage()"/> <span ng-click="">{{page}}</span> <input type="submit" value="下一页" ng-click="nextPage()"/></div>

<div ng-repeat="issue in issues"> 
    <div ng-show="issue.isArticle">
        <h3><span>{{issue.id}} </span>{{issue.title}}</h3>
        <div>
            <span ng-show="issue.user">user {{issue.user}} </span><span> Created @ {{issue.created}}</span>
            <span ng-hide="issue.created == issue.modified">  Last modified @ {{issue.modified}}</span>
        </div>
        <div ng-model="issue.detail" markdown>{{issue.detail}}</div>
        <div ng-show="issue.parent">从{{issue.parent}}#毛吹出来...</div>
        <input type="submit" value="Delete" ng-click="removeIssue(issue.id)"/>
        <input type="submit" value="Comment" ng-click="input.parent=issue.id"/>
        <input type="submit" value="Show Comments" ng-click="getComments(issue)"/>
        <div ng-show="issue.comments" >
            <div ng-repeat="comment in issue.comments" ng-include="'commentTree'">
            </div>
        </div>
    </div>
</div>
<form name="issueForm" ng-submit="newIssue()">
    <h2>吹一吹...</h2>
    <div class="form-group" ng-show="input.isArticle">
        <label>标题</label>
        <input type="text" name="title" class="form-control" ng-model="input.title" ng-required="input.isArticle">
    </div>
    <div class="form-group">
        <label>正文</label>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <textarea class="form-control" id="inputText" 
              ng-model="markedinputText" auto-grow ng-required="input.isArticle == false"></textarea>
            </div>
            <div class="col-sm-6">
              <div id="outputText" ng-bind-html="markedoutputText"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="form-group">
        <label>isArticle</label>
        <input type="checkbox" name="isArticle" ng-model="input.isArticle">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>




